/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
      overflow-x: hidden !important; 
    }

    html{
    	scroll-behavior: smooth;
    	font-size: 16px;
    }

    body{
    	font-family: 'Open Sans', sans-serif;
    	background: #052C4F;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
    }

    ul,li {
    	margin: 0px;
    	padding: 0px;
    	
    }

    h1,h2,h3,h4,p{
    	margin: 0px;
    	font-weight: normal;
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #052C4F;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
        overflow-x: hidden !important; 
        height: 100vh !important; 
        position: relative !important;
    }

    .upper{
    	text-transform: uppercase;
    }

     ::-webkit-scrollbar {
width: 0px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
  }
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
 }


/*----шрифты----*/


@font-face {
  font-family: "Unbounded-800";
  src: 
    url("Unbounded-ExtraBold.woff2") format("woff2"),
    url("Unbounded-ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Unbounded-700";
  src: 
    url("Unbounded-Bold.woff2") format("woff2"),
    url("Unbounded-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Unbounded-600";
  src: 
  url("Unbounded-Bold.woff2") format("woff2"),
    url("Unbounded-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: "Unbounded-500";
  src: 
    url("Unbounded-Medium.woff2") format("woff2"),
    url("Unbounded-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Unbounded-400";
  src: 
   url("Unbounded-Regular.woff2") format("woff2"),
    url("Unbounded-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Unbounded-300";
  src: 
    url("Unbounded-Light.woff2") format("woff2"),
    url("Unbounded-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}



@font-face {
  font-family: "Circe-400";
  src: 
   url("Circe-Regular.woff2") format("woff2"),
    url("Circe-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Circe-300";
  src: 
    url("Circe-Light.woff2") format("woff2"),
    url("Circe-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}



/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.full_container{
  max-width: 1920px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.body_background_image{
  position: absolute;
  right: 0;
  top: 0px;
  z-index: -1;
}

/*-------------------------------ГЛАВНАЯ СТРАНИЦА-------------------------------*/


/*-------------------------------ШАПКА-------------------------------*/

.header_content{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header_content_leftpart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.header_content_rightpart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content_leftpart-title p{
  font-family: "Circle-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #BABABA;
  letter-spacing: 0.8px;
}

.header_content_leftpart-vertline {
  border-left: 1px solid #A5A5A5;
  width: 1px;
  height: 37px;
}

.header_content_rightpart-links a:nth-child(1){
  font-family: "Circle-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
  border-radius: 77px;
  border: 1px solid ;
  border: var(--borderW) solid #FFFFFF;
  border-radius: 77px;
  user-select: none; /* запретить выделение текста */ 
  box-sizing: border-box; /* рамка входит в ширину/высоту */
  --borderW: 1px;
  position: relative;
  place-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
}

.header_content_rightpart-links a:nth-child(1):active{
   transform: scale(0.98);
}

.header_content_rightpart-links a:nth-child(1)::before {
  content: "";
  position: absolute;
  inset: calc(-1*var(--borderW));
  border: var(--borderW) solid darkturquoise;
  border-radius: 77px;
  animation: polygon 6s linear infinite;
}

@keyframes polygon {
        0% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 0%);}
  17.1875% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%); }
  32.8125% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 100%); }
  67.1875% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 100%); }
  82.8125% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%); }
      100% { clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%); }
}











.header_content_rightpart-links a:nth-child(2){
  font-family: "Circle-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
  margin-left: 73px;
}

.header_content_rightpart-links a:nth-child(2):hover{
   border-bottom: 1px solid #ffffff;
}

.header_content_rightpart-links a:nth-child(3){
  font-family: "Circle-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
  margin-left: 55px;
}

.header_content_rightpart-links a:nth-child(3):hover{
   border-bottom: 1px solid #ffffff;
}

.header_content_rightpart-messengers{
  margin-left: 34px;
  display: flex;
  column-gap: 15px;
}

.header_content_rightpart-burger{
  margin-left: 26px;
}

.header_content_rightpart-burger-btn{
  border-radius: 50%;
  border: 1px solid #fff;
  width: 72px;
  height: 72px;
  background: transparent;
  cursor: pointer;
  border: var(--borderA) solid #FFFFFF;
  --borderA: 1px;
  position: relative;
}

@keyframes burgeranim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
   75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}


.header_content_rightpart-burger-btn::before {
  content: "";
  position: absolute;
  inset: calc(-1*var(--borderA));
  border: var(--borderA) solid darkturquoise;
  border-radius: 15px;
  animation: burgeranim 2s linear infinite;
  border-radius: 50%;
}


.hamb {
      display: flex;
      align-items: center;

  }


  .hamb__field {
      cursor: pointer;
      z-index: 20;
      padding: 10px;
  }

  .bar {
      display: flex;
      transition: 0.2s;
  }

  .popup {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.6s;
      background: #052C4F;
  }

  .popup.open {
      left: 0;
      display: block;
  }

    body.noscroll {
      overflow: hidden;
    }

  .close_popup{
    position: absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
  }

  .main__container-popup{
    position: relative;
  }


.header_content-wrap-navmenu{
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 250px;
  padding-left: 0px;
}


img.rot {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 20s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header_content-wrap-navmenu-righpart-list ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px; 
}

.header_content-wrap-navmenu-righpart-list-item a{
  font-family: "Unbounded-700";
  font-size: 4rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header_content-wrap-navmenu-righpart-list-item a:hover{
  color: #1C5FF2;
  
}

header{
  z-index: 10;
}


/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/

.firstssec{
  
}

.firstssec-content{
  margin-top: 178px;
  z-index: 10;
}

.firstssec-content h1{
  font-family: "Unbounded-700";
  font-size: 6rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
}

.firstssec-content h1 >p:nth-child(1) {
  text-align: end;
}

.firstssec-content h1 >p:nth-child(2) {
  text-align: left;
}

.firstssec-content h1 >p:nth-child(3) {
  text-align: left;
}

.firstssec-content-title {
  padding-left: 17px;
  padding-top: 64px;
}

.firstssec-content-title ul{
  list-style-type: disc !important;
}

.firstssec-content-title ul > li{
  font-family: "Circe-400";
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 37px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.firstssec-content-order {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  background: #1C5FF2;
  border: 0px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 30px;
  margin-top: -40px;
}

.firstssec-content-order p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.firstssec-content-order:active {
  transform: scale(0.98);
}


.firstssec-content-order{
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0.7;
  }
}


.firstssec-content h1 > p:nth-child(2) > br{
  display: none;
}

.firstssec-content h1 > p:nth-child(2) > b{
  display: none;
}

.firstssec-content h1 > p:nth-child(3) > b{
  display: none;
}

.firstssec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  left: 21%;
  width: 977px;
  height: 977px;
  top: 0%;
  opacity: 0.4;
}

.firstssec-content {
  position: relative;
}

/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/


.directionsec{
  margin-top: 277px;
  position: relative;
}

.directionsec-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.directionsec-content-rightpart{
  display: flex;
  flex-direction: column;
}

.directionsec-content-rightpart h2{
  font-family: "Unbounded-400", sans-serif;
  font-size: 2.625rem;
  text-decoration: none;
  color: #FFF;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: end;
}

.directionsec-content-rightpart p{
  font-family: "Circe-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-top: 57px;
  max-width: 820px;
}

.directionsec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  left: 0%;
  width: 68vw;
  height: 812px;
  top: 63%;
}

.directionsec-blur-two{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  left: 30%;
  top: 331%;
  width: 68vw;
  height: 483px;
}

/*-------------------------------СЕКЦИЯ РАЗРАБОТКА САЙТОВ-------------------------------*/

.developmentsec{
  margin-top: 204px;
  position: relative;
}

.developmentsec-content h2{
  font-family: "Unbounded-400", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.developmentsec-content-slider-item{
  max-width: 314px;
  width: 100%;
  height: 390px !important;
  border-radius: 39px;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 50, 71, 0.00) 100%);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  padding-top: 40px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 50px;
  margin: 0 20px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.developmentsec-content-slider-item:hover{
  background: linear-gradient(180deg, #151F2C 0%, #06F 100%);
}

.developmentsec-content-slider-item:hover > .developmentsec-content-slider-item-title{
   color: #FFF;
}

.developmentsec-content-slider-item h3{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1.375rem;
  text-decoration: none;
  color: #FFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  height: 69px;
}

.developmentsec-content-slider-item p{
  font-family: "Circle-400", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #CF2F9B;
  line-height: 31px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
}

.developmentsec-content-slider-item-list{
  margin-top: 20px;
  padding-left: 14px;
}

.developmentsec-content-slider-item-list li{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.developmentsec-content-slider-item a{
  font-family: "Unbounded-700", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 77px;
  background: #1C5FF2;
  max-width: 210px;
  width: 100%;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.developmentsec-content-slider-item a:active{
  transform: scale(0.98);
}

.developmentsec-content-slider-item:hover > .developmentsec-content-slider-item-btn{
  background: #FFF;
  color: #1A1A1A;
  animation: iii 1s forwards;
}


@keyframes iii {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.developmentsec-content-slider{
  margin-left: 113px;
}



/*-------------------------------СЕКЦИЯ ПОДДЕРЖКА САЙТОВ-------------------------------*/

.supportsec{
  margin-top: 146px;
}

.supportsec-content h2{
  font-family: "Unbounded-400", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.supportsec-content-list{
  display: flex;
}

.supportsec-content-list-item{
  max-width: 314px;
  width: 100%;
  height: 390px !important;
  border-radius: 39px;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 50, 71, 0.00) 100%);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  padding-top: 40px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 50px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 38px;
}

.supportsec-content-list-item:nth-child(3){
  margin-right: 27px;
}

.supportsec-content-list-item:hover{
  background: linear-gradient(180deg, #151F2C 0%, #06F 100%);

}

.supportsec-content-list-item:hover > .supportsec-content-list-item-title{
   color: #FFF;
}

.supportsec-content-list-item h3{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1.375rem;
  text-decoration: none;
  color: #FFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  height: 69px;
}

.supportsec-content-list-item p{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #CF2F9B;
  line-height: 31px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-top: -6px;
}

.supportsec-content-list-item-list{
  margin-top: 20px;
  padding-left: 14px;
}

.supportsec-content-list-item-list li{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.supportsec-content-list-item a{
  font-family: "Unbounded-700", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 77px;
  background: #1C5FF2;
  max-width: 210px;
  width: 100%;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.supportsec-content-list-item a:active{
  transform: scale(0.98);
}

.supportsec-content-list-item:hover > .supportsec-content-list-item-btn{
  background: #FFF;
  color: #1A1A1A;
  animation: iii 1s forwards;
}

.supportsec-content-list-item > h3:nth-child(1) {
  order: 1;
}

.supportsec-content-list-item-list {
  order: 2;
}

.supportsec-content-list-item-title {
  order: 3;
}

.supportsec-content-list-item-btn {
  order: 4;
}

.supportsec-content-list-item:nth-child(3) > h3:nth-child(1) {
  height: 13px;
}

.supportsec-content-list-item-addinfo p{
  max-width: 376px;
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.supportsec-content-list-item-addinfo {
  display: flex;
  align-items: end;
  padding-bottom: 55px;
}

.supportsec-content-list > div:nth-child(1) > div:nth-child(1) {
  margin-left: 0px;
}

/*-------------------------------СЕКЦИЯ НУЖНА КОНСУЛЬТАЦИЯ-------------------------------*/

.consultsec{
  position: relative;
}

.consultsec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 646px;
  height: 646px;
  left: 29%;
  top: 20%;
}

.full_container-consultsec{
  position: unset !important;
}

.consultsec-background{
  position: absolute;
  top: 0;
  right: 0;
  mix-blend-mode: plus-lighter;
}

.consultsec-leftimage{
  position: absolute;
  left: 0;
  top: -200px;
  opacity: 0.4;
}

.consultsec-content{
  padding-left: 96px;
  margin-left: 182px;
  position: relative;
  border-bottom: 1px solid #064FDA;
}

.consultsec-content h2{
  font-family: "Unbounded-400", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-top: 196px;
}

.consultsec-content > ul > li{
  font-family: "Circle-300", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-top: 10px;
}

.consultsec-content > ul:nth-child(2) {
  padding-left: 18px;
}

.consultsec-phone{
  position: absolute;
  right: 0;
  bottom: 0;
}

.consultsec-content-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 0px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 30px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.consultsec-content-order p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #1A1A1A;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.consultsec-content-order:active {
  transform: scale(0.98);
}


.consultsec-content-order{
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



/*-------------------------------СЕКЦИЯ ПРОЕКТЫ-------------------------------*/

.projectssec{
  margin-top: 300px;
  position: relative;
}

.projectssec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 77vw;
  height: 483px;
  left: 21%;
  top: -15%;
}

.projectssec-content-header{
  display: flex;
  align-items: center;
  column-gap: 19px;
  margin-bottom: 130px;
}

.projectssec-content-header h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 5rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 58px;
  letter-spacing: 0.8px;
}

.projectssec-content-header p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.projectssec-content-list-mobile{
  display: none !important;
}

.projectssec-content-list-uppart{
  display: flex;
  column-gap: 39px;
}

.projectssec-content-list-item-image-container{
  position: relative;
  width: 100%;
}

.projectssec-content-list-item h3{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1.625rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  margin-top: 22px;
}

.projectssec-content-list-item p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  white-space: nowrap;
}

.projectssec-content-list-uppart > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
  padding-bottom: 17px;
}

.projectssec-content-list-downpart{
  display: flex;
  column-gap: 39px;
  margin-top: 75px;
  margin-bottom: 181px;
}

.projectssec-content-list-item:hover > .projectssec-content-list-item-image-container > .projectssec-content-list-item-order{
  display: flex;
  opacity: 0;
  animation: yyy 0.5s forwards;
}

@keyframes yyy {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.projectssec-content-list-item-order {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 0px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  transform: translate(-50%, -50%);
}

.projectssec-content-list-item-order p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #1A1A1A;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.projectssec-content-list-item-order:active {
  transform: scale(0.98);
}



































/*-------------------------------СЕКЦИЯ БЕГУЩАЯ СТРОКА-------------------------------*/

.runninglinesec{
  position: relative;
}

.runninglinesec-content-list-uppart-item{
  display: flex;
  column-gap: 19px;
}

.runninglinesec-content-list-uppart-item a{
  display: flex;
  padding-top: 41px;
  padding-bottom: 36px;
  padding-left: 65px;
  padding-right: 65px;
  font-family: "Unbounded-500", sans-serif;
  font-size: 4rem;
  text-decoration: none;
  color: #0A5FF9;
  line-height: 27px;
  letter-spacing: 0.8px;
  border: 1px solid #0A5FF9;
  border-radius: 40px;
}

.runninglinesec-content-list-downpart{
  margin-top: 24px;
}

.runninglinesec-content-list-downpart-item{
  display: flex;
  column-gap: 19px;
  margin-bottom: 175px;
}

.runninglinesec-content-list-downpart-item a{
  display: flex;
  padding-top: 41px;
  padding-bottom: 36px;
  padding-left: 65px;
  padding-right: 65px;
  font-family: "Unbounded-500", sans-serif;
  font-size: 4rem;
  text-decoration: none;
  color: #0A5FF9;
  line-height: 27px;
  letter-spacing: 0.8px;
  border: 1px solid #0A5FF9;
  border-radius: 40px;
}

.runninglinesec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 80vw;
  height: 483px;
  left: 12%;
  top: 55%;
}


/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

.teamsec{
  position: relative;
}



.teamsec-content-header{
  display: flex;
  align-items: center;
  margin-bottom: 122px;
}

.teamsec-content-header h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  white-space: nowrap;
}

.teamsec-content-header p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-left: 64px;
  max-width: 520px;
}

.teamsec-content-slider{
  margin-bottom: 212px;

}

.teamsec-content-slider-item{
  max-width: 434px;
  width: 100% !important;
  height: 454px !important;
  border-radius: 39px;
  margin: 0 20px;
  padding-left: 39px;
  padding-bottom: 58px;
  padding-right: 35px;
  display: flex !important;
  align-items: flex-start;
  flex-direction: column; 
  justify-content: end;
  position: relative;
  overflow: hidden;
height: 100%;
}

.backgr{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}

.backgr-fix{
  height: 100%;
}

.teamsec-content-slider-item:nth-child(5) > img:nth-child(5) {
  
}

.teamsec-content-slider-item h3{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  z-index: 10;
  text-transform: uppercase;
}

.teamsec-content-slider-item p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-top: 10px;
  z-index: 10;
}

.teamsec-content-slider-item ul{
  margin-top: 24px;
  display: none;
  z-index: 10;
}

.teamsec-content-slider-item ul > li{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.teamsec-content-slider-item:hover ul{
  display: block;
}

.item-filter{
  display: none !important;
  max-width: 508px;
  max-height: 512px;
  height: 100%;
  border-radius: 39px;
}

.teamsec-content-slider-item:hover .item-filter{
  display: block !important;
  object-fit: cover;
  width: 642px;
  max-width: unset;
  max-height: unset;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  animation: ttt 1s forwards;
}

.teamsec-content-slider-item:hover {
  width: 100% !important;
  max-width: 568px;
  height: 574px !important;
}


@keyframes ttt {
  0% {opacity: 0;}
  100% {opacity: 1;

  }
}


/*-------------------------------СЕКЦИЯ ОТВЕТЫ НА ВОПРОСЫ-------------------------------*/

.questionssec{
  position: relative;
}

.questionssec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 50vw;
  height: 812px;
  left: 14%;
  top: 0%;
}

.questionssec-content{
  display: flex;
  justify-content: space-between;
}

.questions-list{
  display: flex;
  flex-direction: column;
  max-width: 841px;
}

.questions-list-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 24px;
  border-bottom: 1px solid #FFF;
}

.questions-list-item:nth-child(1){
  border-top: 1px solid #FFF;
}

.questions-list-item:hover .plus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #0A5FF9;
  width: 41px;
  height: 41px;
  animation: ani 1s forwards;
}

.plus{
  width: 41px;
  height: 41px;
}

.questions-list-item p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.questions-list-item-wrapinfo{
  margin-top: 19px;
}

.questions-list-item-wrapinfo p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
}

.questions-list-item-wrapinfo-dopinfo{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #84C3E0;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  max-width: 204px;
  font-family: "Unbounded-500", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.questions-list-item-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.questions-list-item-title-header{
  display: flex;
  justify-content: space-between;
  width: 100%;

}


.questions-list-item-wrapinfo_js{
  display: flex !important;
  flex-direction: column;
  padding-right: 85px;
  background: transparent;
  opacity: 0;
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.questions-list-item-btnwrap-imgnoactive_js{
  display: none !important;
}

.questions-list-item-btnwrap-imgactive_js{
  display: block !important;

}

.questions-list-item-wrapinfo{
  display: none;
}

.questions-list-item-btnwrap{
  border: 0px;
  background: transparent;
  cursor: pointer;
}

.questions-list-item-btnwrap-imgactive{
  display: none;
}

.questions-list-item-btnwrap-imgnoactive{
  display: block;
}

.plus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(2) {
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #0A5FF9;
  width: 48px;
  height: 48px;
}



.questionssec-content-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 180px;
  height: 216px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
}

.questionssec-content-order:hover {
  background: #FFFFFF;
  animation: ttt 0.5s forwards;
}

.questionssec-content-order:hover p{
  color: #1A1A1A;
}

.questionssec-content-order > img:nth-child(2) {
  display: none;
}

.questionssec-content-order:nth-child(1):hover .questionssec-content-order-white{
  display: none;
}


.questionssec-content-order:nth-child(1):hover .questionssec-content-order-black{
  display: block;
}

.questionssec-content-order:nth-child(2):hover .questionssec-content-order-white{
  display: none;
}


.questionssec-content-order:nth-child(2):hover .questionssec-content-order-black{
  display: block;
}


.questionssec-content-leftpart-btns{
    display: flex !important;
  }

  .questionssec-content-leftpart-btns-mobile{
    display: none !important;
  }











.questionssec-content-order p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 26px;
  text-align: center;
}

.questionssec-content-order:active {
  transform: scale(0.98);
}



.questionssec-content-leftpart h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.questionssec-content-leftpart h3{
  font-family: "Unbounded-700", sans-serif;
  font-size: 5rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 101px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.questionssec-content-leftpart-btns{
  display: flex;
  column-gap: 6px;
}

.questionssec-content-order-fix{
  background: transparent;
  border: 1px solid #ffffff;
}

.questionssec-content-order-fix p{
  color: #FFFFFF;
}

.questionssec-content-order-fix img{
  transform: rotate(270deg);
}




/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

.advantagessec{
  position: relative;
  padding-top: 164px;
}

.advantagessec-content{
  display: flex;
  column-gap: 50px;
}

.advantagessec_right_image{
  position: absolute;
  top: -55px;
  right: 0;
}

.advantagessec-content-leftpart h2{
  font-family: "Unbounded-700", sans-serif;
  font-size: 9.375rem;
  text-decoration: none;
  color: #1C5FF2;
  line-height: 162px;
  text-transform: uppercase;
}

.advantagessec-content-leftpart h3{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 122px;
  text-shadow: 0px 4.179px 4.179px rgba(0, 0, 0, 0.25);
}

.advantagessec-content-leftpart-list{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

}

.advantagessec-content-leftpart-list-item{
  display: flex;
  column-gap: 17px;
  align-items: center;
}

.advantagessec-content-leftpart-list-item-right{
  display: flex;
  flex-direction: column;
}

.advantagessec-content-leftpart-list-item-right h4{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
  text-transform: uppercase;
  text-shadow: 0px 4.179px 4.179px rgba(0, 0, 0, 0.25);
}

.advantagessec-content-leftpart-list-item-right p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 25px;
}

.advantagessec-content-rightpart{
  border-radius: 39px;
  background: linear-gradient(90deg, #0A5FF9 9.16%, #053A69 68.69%);
  padding-top: 90px;
  padding-left: 47px;
  padding-bottom: 107px;
  width: 100%;
}

.advantagessec-content-rightpart h3{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
}

.advantagessec-content-rightpart ul{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 504px;
  width: 100%;
}

.advantagessec-content-rightpart-list-item{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  z-index: 10;
  position: relative;
}



/*-------------------------------СЕКЦИЯ CMS-------------------------------*/


.cmssec{
  margin-top: 204px;
  position: relative;
}

.cmssec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 50vw;
  height: 50vw;
  left: 27%;
  top: -41%;
}

.cmssec h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.cmssec-content-list{
  margin-top: 67px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cmssec-content-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cmssec-content-list-item:nth-child(1){
  border-top: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(2){
  border-top: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(3){
  border-top: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(4){
  border-top: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(5){
  border-top: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(6){
  border-top: 0px;
}

.cmssec-content-list-item:nth-child(7){
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(8){
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(9){
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(10){
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(11){
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.cmssec-content-list-item:nth-child(12){
  border-top: 0px;
  border-bottom: 0px;
}


/*-------------------------------СЕКЦИЯ СЕРТИФИКАТЫ-------------------------------*/


.sertificatessec{
  margin-top: 87px;
}

.sertificatessec h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
}

.sertificates-content-leftpart p{
  max-width: 620px;
  width: 100%;
  font-family: "Circle-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
}

.sertificates-content{
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.sertificates-content-rightpart-list{
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
  column-gap: 55px;
}

.sertificates-content-rightpart-list-item:nth-child(2) {
  margin-top: -19px;
}

.sertificates-content-rightpart-list-item:nth-child(3) > img:nth-child(1) {
  margin-top: -20px;
}

.sertificates-content-rightpart-list-item:nth-child(3) {
  margin-top: 0px;
}

.sertificates-content-rightpart-list-item:nth-child(4) > img:nth-child(1) {
  margin-top: -24px;
}

/*-------------------------------СЕКЦИЯ ОТЗЫВЫ-------------------------------*/


.reviewssec{
  padding-top: 173px;
  background-size: cover;
  background-position: center bottom;
   position: relative;
}

.reviewssec_header{
  display: flex;
  column-gap: 42px;
  align-items: baseline;
    z-index: 10;
}

.reviewssec_header h2{
  font-family: "Unbounded-700", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  color: #FFF;
  line-height: 101px;
}

.reviewssec_header p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
}

.reviewssec-content{
  display: grid;
  grid-template-areas: "one three five seven"
                       "one four five seven"
                       "two four six seven"
                       "two four six seven";
  margin-top: 89px;
  justify-content: space-between;
}

.reviews_background{
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
}


.reviewssec-content-item{
  border-radius: 39px;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 50, 71, 0.00) 100%);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  max-width: 350px;
  width: 100%;
  padding-top: 44px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 26px;
  display: flex;flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}



.reviewssec-content-item:hover .item-filter {
  display: block !important;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  animation: ttt 0.5s forwards;
}

.reviewssec-content-item:hover > .reviewssec-content-item-link{
  color: #fff;
}

.reviewssec-content-item:nth-child(7):hover > .item-filter{
  max-height: unset;
}


.reviewssec-content-item:nth-child(1){
  grid-area: one;
  max-height: 269px;
  overflow-y: hidden;
  height: 100vh;
}

.reviewssec-content-item:nth-child(1) p{
  max-height: 130px;
  overflow-y: hidden;
}

.reviewssec-content-item:nth-child(2){
  grid-area: two;
  max-height: 269px;
  overflow-y: hidden;
  margin-top: 12px;
  height: 100vh;
}

.reviewssec-content-item:nth-child(2) p{
  max-height: 130px;
  overflow-y: hidden;
}

.reviewssec-content-item:nth-child(3){
  grid-area: three;
  max-height: 111px;
}

.reviewssec-content-item:nth-child(3) p{
  max-height: 42px;
  overflow-y: hidden;
}

.reviewssec-content-item:nth-child(4){
  grid-area: four;
  max-height: 412px;
  overflow-y: hidden;
  margin-top: 26px;
}

.reviewssec-content-item:nth-child(5){
  grid-area: five;
}

.reviewssec-content-item:nth-child(6){
  grid-area: six;
  margin-top: 11px;
}

.reviewssec-content-item:nth-child(7){
  grid-area: seven;
}

.reviewssec-content-item h3{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1.625rem;
  text-decoration: none;
  color: #FFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  z-index: 10;
  position: relative;
}

.reviewssec-content-item h4{
  font-family: "Circle-400", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #686868;
  line-height: 35px;
  letter-spacing: 0.8px;
    z-index: 10;
    position: relative;
}

.reviewssec-content-item p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
    z-index: 10;
}

.reviewssec-content-item a{
  font-family: "Circle-400", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #0A5FF9;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-decoration-line: underline;
    z-index: 10;
}


.reviewssec-slider{
  padding-top: 90px;
  margin-left: 136px;
  padding-bottom: 190px;
  z-index: 20;
  position: relative;
}

.reviewssec-slider-item{
  border-radius: 39px;
 /* background: linear-gradient(180deg, #020202 0%, rgba(0, 50, 71, 0.00) 100%);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);*/
  max-width: 644px;
  width: 100%;
  height: 381px !important;
  padding-top: 44px;
  padding-left: 22px;
  padding-bottom: 28px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  margin-right: 35px;
}

.reviewssec-slider-item h3{
  font-family: "Unbounded-400", sans-serif;
  font-size: 1.625rem;
  text-decoration: none;
  color: #FFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  z-index: 20;
  position: relative;
}

.reviewssec-slider-item a{
  font-family: "Circle-400", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-decoration-line: underline;
  z-index: 20;
  position: relative;
  max-width: 190px;
}

.reviewssec-slider-item-play:hover{
  animation: none !important;
}

.reviewssec-slider-item a:hover{
  color: #0A5FF9;
  animation: ttt 1s forwards;
}

.reviewssec-slider-item-header img{
  z-index: 20;
  position: relative;
}

.reviewssec-slider-item:nth-child(1){
  background: url(../img/video_background_1.png);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  background-repeat: no-repeat;
  background-size: cover;
}

.reviewssec-slider-item:nth-child(2){
  background: url(../img/video_background_2.png);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  background-repeat: no-repeat;
  background-size: cover;
}

.reviewssec-slider-item:nth-child(3){
  background: url(../img/video_background_1.png);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  background-repeat: no-repeat;
  background-size: cover;
}

.reviewssec-slider-item-shadow{
  width: 100%;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 50, 71, 0.00) 100%);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  border-radius: 39px;
}

.reviewssec-slider-item-play{
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/


.kvizsec{
 
}

.kvizsec h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFF;
  line-height: 53px;
  letter-spacing: 0.8px;
  margin-bottom: 35px;
}

.kvizsec p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-bottom: 35px;
  max-width: 850px;
}

.kvizsec-content-main{
  border-radius: 39px;
  background: linear-gradient(187deg, #AC56FF 9.92%, #F5C167 26.4%, #4735FF 96.67%);
  padding-left: 40px;
  display: flex;
  column-gap: 40px;
}

.kvizsec-content-main h3{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 37px;
  letter-spacing: 0.8px;
  padding-top: 82px;
  margin-bottom: 50px;
}

.kvizsec-content-main-slider{
  max-width: 775px;
  width: 100%;
}

.kvizsec-content-main-slider-item-progressbar{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  max-width: 775px;
  width: 100%;
}

.kvizsec-content-main-slider-item-progressbar img:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
}

.kvizsec-content-main-slider-item-progressbar p{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 775px;
  border-radius: 29px;
  background: #052C4F; 
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  line-height: 37px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 0px;
}

.kvizsec-content-main-slider-item-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 720px;
  grid-row-gap: 26px;
  padding-bottom: 93px;
}

.kvizsec-content-main-slider-item-form label{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.kvizsec-content-main-slider-item-form input{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.input-container{
  display: flex;
  align-items: center;
}

.kvizsec-content-main-slider-item-progressbar h3{
  padding-top: 50px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ffffff;
  position: relative;
  top: 6px;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #1C5FF2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear 0.8s;
}



@keyframes appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.6);
    background-color: #1C5FF2;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.7);
    background-color: #1C5FF2;
  }
  55% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background-color: #1C5FF2;
  }
}

.kvizsec-content-main-slider-buttons{
  display: flex;
  padding-bottom: 34px;
}

.kvizsec-content-main-slider-buttons-leftbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: transparent;
  cursor: pointer;
}

.kvizsec-content-main-slider-buttons-leftbtn p{
  font-family: "Unbounded-700", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-bottom: 27px !important;
}

.kvizsec-content-main-slider-buttons-leftbtn > img:nth-child(3) {
 transform: rotate(180deg);
}

.kvizsec-content-main-slider-buttons-leftbtn > img:nth-child(2) {
 display: none;
}

.kvizsec-content-main-slider-buttons-leftbtn:hover{
  background: #ffffff;
  animation: ttt 0.5s forwards;
}

.kvizsec-content-main-slider-buttons-leftbtn:hover p{
  color: #282828;
}

.kvizsec-content-main-slider-buttons-leftbtn:hover img:nth-child(3){
  display: none;
}

.kvizsec-content-main-slider-buttons-leftbtn:hover img:nth-child(2){
  display: block;
  transform: rotate(180deg);
}




.kvizsec-content-main-slider-buttons-rightbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: transparent;
  cursor: pointer;
}

.kvizsec-content-main-slider-buttons-rightbtn p{
  font-family: "Unbounded-700", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-bottom: 27px !important;
}

.kvizsec-content-main-slider-buttons-rightbtn > img:nth-child(2) {
 display: none;
}

.kvizsec-content-main-slider-buttons-rightbtn:hover{
  background: #ffffff;
  animation: ttt 0.5s forwards;
}

.kvizsec-content-main-slider-buttons-rightbtn:hover p{
  color: #282828;
}

.kvizsec-content-main-slider-buttons-rightbtn:hover img:nth-child(3){
  display: none;
}

.kvizsec-content-main-slider-buttons-rightbtn:hover img:nth-child(2){
  display: block;
}


.kvizsec-content-main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 775px;
}

.kvizsec-content-main-promo{
  border-radius: 39px;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  padding-top: 82px;
  padding-left: 41px;
  padding-right: 25px;
  background-image: url(../img/kviz_promo_background.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.kvizsec-content-main-promo h3{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #262626;
  line-height: 37px;
  letter-spacing: 0.8px;
  padding-top: 0px;
  margin-bottom: 40px;
}

.kvizsec-content-main-promo p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #151515;
  line-height: 26px;
  letter-spacing: 0.8px;
  padding-top: 0px;
}

.kvizsec-content-main-promo {
  width: 100%;
}

.kvizsec-content-main-promo-twenty{
  position: relative;
}

.kvizsec-content-main-promo-twenty h4{
  font-family: "Unbounded-700", sans-serif;
  font-size: 16rem;
  text-decoration: none;
  color: #1C5FF2;
  letter-spacing: 0.8px;
  margin-top: 50px;
  text-align: center;
}

.kvizsec-content-main-promo-twenty b{
  font-family: "Unbounded-700", sans-serif;
  font-size: 10rem !important;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.kvizsec-content-main-promo-twenty img{
  position: absolute;
  left: 0;
  bottom: 73px;
}




/*-------------------------------СЕКЦИЯ НАПИШИТЕ НАМ-------------------------------*/

.writetoussec{
  margin-top: 184px;
  position: relative;
}

.writetoussec-blur{
  border-radius: 552px;
  filter: blur(408px);
  position: absolute;
  background: #0A5FFA;
  opacity: 0.4;
  width: 50vw;
  height: 50vw;
  top: -41%;
  left: 27%;
}

.writetoussec h2{
  font-family: "Unbounded-700", sans-serif;
  font-size: 5rem;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 0.8px;
  line-height: 101px;
}

.writetous-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 180px;
  height: 216px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #1C5FF2;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 30px;
  text-decoration: none;
}

button.writetous-order {
width: 248px;
height: 248px;
}

.writetous-order p{
  font-family: "Unbounded-500", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 26px;
  text-align: center;
}

.writetous-order:active {
  transform: scale(0.98);
}

.writetous-btns{
  display: flex;
  align-items: center;
}

.writetous h2{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.writetous h3{
  font-family: "Unbounded-700", sans-serif;
  font-size: 5rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 101px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.writetous-btns{
  display: flex;
}

.writetous-order-fix{
  background: transparent;
}

.writetous-order-fix p{
  color: #FFFFFF;
}

.writetous-order img{
  transform: rotate(180deg);
}

.writetous-order-fix img{
  transform: rotate(90deg);
}

.writetous-order:hover {
  background: #1C5FF2;
  animation: ttt 0.5s forwards;
}

.writetous-btns-title{
  font-family: "Unbounded-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  max-width: 215px;
  padding-bottom: 30px;
  margin-left: 18px;
}

.writetoussec-content-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}


.writetoussec-content-form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 853px;
  width: 100%;
  grid-column-gap: 65px;
  grid-row-gap: 50px;
}

.writetoussec-content-form-inputs > input:nth-child(1) {
  grid-column: 1 / -1;
}

.writetoussec-content-form-inputs input{
  background: transparent;
  outline: none;
  border: 0px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ffffff;
  font-family: "Unbounded-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  max-height: 46px;
}

.writetoussec-content-form-inputs input:focus{
  border-bottom: 1px solid #1C5FF2;
}

 .writetous-order img:nth-child(3){
    display: none;
  }

/*-------------------------------ФУТЕР-------------------------------*/

footer{
  margin-top: 120px;
}

.footer_content{
  display: flex;
  flex-direction: column;
  row-gap: 53px;
}

.footer_content-uppart{
  display: flex;
  justify-content: space-between;
}

.footer_content-uppart a{
  font-family: "Unbounded-700", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 101px;
  letter-spacing: 0.8px;
}

.footer_content-uppart a:hover{
  text-decoration-line: underline;
}

.footer_content-uppart-maplink p{
  font-family: "Circle-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer_content-uppart-maplink a{
  font-family: "Unbounded-500", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.footer_content-uppart-maplink a:hover{
  text-decoration-line: underline;
}

.footer_content-downpart{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
}

.footer_content-downpart-logo-navmenu-list{
  display: flex;
  list-style-type: none;
}

.footer_content-downpart-logo-navmenu-list-item a{
  font-family: "Unbounded-300", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.8px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}

.footer_content-downpart-logo-navmenu-list-item a:hover{
  color: #1C5FF2;
  animation: ttt 0.5s forwards;
}

.footer_content-downpart-messengers{
  display: flex;
  column-gap: 8px;
}

















